<article id="new-recipe" class="recipe">

    <h1>
        <label>
            Recipe:<span>
                <input name="name" type="text" required #nameInput
                       (blur)="setRecipeName(nameInput.value)" />
            </span>
        </label>
    </h1>
    <ul>
        <li>
            <label>
                Description:
                <span>
                    <input name="description" type="text" id="description" #descriptionInput
                           (blur)="setRecipeDescription(descriptionInput.value)" />
                </span>
            </label>
        </li>
        <li>
            <label>
                Makes Quantity:<span>
                    <input name="makesQty" type="text" id="makesQty" #qtyInput
                           (blur)="setRecipeQuantity(qtyInput.value)" />
                </span>
            </label>
        </li>
        <li>
            <label>Makes Unit:</label>
            <span>
                <input name="makesUnit" type= id="makesUnit" #unitInput
                       (blur)="setRecipeUnits(unitInput.value)" />
            </span>
        </li>
    </ul>
    <h4><label>Ingredients:</label></h4>
    <button (click)="postRecipe()">Add It</button>
</article>
